body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family:'Comic Sans MS', Sans-Serif;
    font-size:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
}

.heart {
    position: absolute;
    height: 32px;
    width: 20px;
    background: red;
    border-radius: 40px 40px 0 0; 
    transform: rotate(45deg) scale(0.5); 
    animation: pulse 1s infinite alternate; /* Animação de pulsação */
}

.heart::before {
    content: " ";
    position: absolute;
    height: 32px; /* (160px / 5) */
    width: 20px; /* (100px / 5) */
    background: red;
    border-radius: 40px 40px 0 0; /* (200px / 5) */
    transform: rotate(-90deg);
    top: 6px; /* (30px / 5) */
    left: -6px; /* (30px / 5) */
    
}

@keyframes pulse {
    0% {
        transform: rotate(45deg) scale(0.5);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
}
.mensagem {
    display: none;
    text-align: center;
    position: relative;
    top:2cm;
}
#urso{
  width: 100%;
  height: auto;
}





